@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@600;700;800&family=Work+Sans:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* **Header Section** */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 10px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    padding-right: 30px;
}


/* **Banner Section** */
.banner-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    padding: 10px 0px;
    margin-top: 20px;
}

.text-small{
    color: #727272;
    font-weight: 400;
    font-size: .9rem;
}

.banner-img img {
    width: 100%;
}
.btn {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    padding: 15px;
    border: 0;
    margin: 20px 0px;
}

/* **Feature Section** */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.feature{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 50px;
    padding-left:300px;
}
.frature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.frature-img img{
    width: 100%;
}
.feature-text{
    padding: 0px 50px; 
    max-width: 520px;  
}
.feature-title{
    font-size: 2.5rem;
}
.text-gray{
    color: #727272;
    font-weight: 700;
}
.text-yellow{
    color:#FF900E;
    font-weight: 700;
}


/* **Some Fact Section** */
.some-fact{
    padding: 50px 200px;
}
.some-fact-title{
    font-size: 2rem;
}
.logo{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    height: 150px;
    width: 180px;
    border: 2px solid royalblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.number{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5px;
}

/* **Responsive Section** */

@media screen and (max-width:576px) {
    header {
        padding: 10px 10px;
    }
    nav{
        flex-direction: column;
        width: 100%;
    }
    nav a{
        padding: 10px 0px;
    }

    .banner-content {
        max-width: 400px;
    }
    .banner-img img{
        width: 100%;
    }
    .feature {
        padding-left: 10px;
        flex-direction: column;
    }
    .feature-text,.some-fact{
        padding: 10px 10px; 
        max-width: 500px;  
    }
    .logo{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 10px;
    }
    
}
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 10px 10px;
    }
    .feature {
        padding-left:0px;
        flex-direction: column;
    }
    .feature-text,.some-fact{
        padding: 30px 20px; 
        text-align: center; 
    }
    .logo{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 10px;
        align-items: center;
        justify-items: center;
    }

}